<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>404</title>
		<link href="/css/nes.min.css" rel="stylesheet" />
		<style>
			body {
				height: 100vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				background-image: linear-gradient(to bottom, rgba(255,255,255, 1) 35%, rgba(255,255,255,0) 100%), url("/img/power_up_usplash.jpeg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		</style>
	</head>
	<body>
		<h1>404 Error: Page Not Found</h1>
		<a href="/">Go back home</a>
	</body>
</html>