<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Error 401: Unauthenticated</title>
		<link href="/css/nes.min.css" rel="stylesheet" />
		<style>
			body {
				min-height: 100vh;

				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				color: white;
				background-color: black;
			}

			main {
				padding: 1em;
				text-align: center;
			}

			h1 {
				margin-bottom: 2em;
			}

			h2 {
				margin-bottom: 1em;
			}
		</style>
	</head>
	<body>
		<main>
				<h1>Game Over</h1> 
				<h2>Your credentials are invalid.</h2>
				<p>Please try <a href="/auth/login">again</a></p>
		</main>
	</body>
</html>